*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 1s;
}
body{
    background-color: white;
}
#groove{
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    right: 0%;
    margin: 10px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
     
}
#slider{
    background-color: white;
    width: 18px;
    height:18px ;
    margin-top: 1px;
    border-radius: 9px;
}

